<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Session-7, Assignment-3</h1>
        <br><br>
          <div class="table-resposive">
              <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>Array Index</th>
                          <th>Place</th>
                          <th>Continent Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Using ngFor to loop through array values -->
                      <!-- ngClass is used to identify odd/even rows and apply respective class -->
                      <!-- i is used to display array index here. -->
                      <!-- myColor directive is applied to carry out text color change task -->
                      <tr *ngFor="let myVal of myArray; let i = index; let even = even; let odd = odd"
                      [ngClass]="{ odd: odd, even: even }" myColor>
                        <!-- Displaying values using interpolation -->
                        
                        <!-- Displaying array index using interpolation -->
                        <td>
                          {{i}}
                        </td>
                        
                        <!-- Displaying place value using interpolation -->
                          <td>
                            {{myVal.place}}
                          </td>
                        
                        <!-- Displaying continent value using interpolation -->
                          <td>
                              {{myVal.continent}}
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>
</div>
